html{
  min-height: 100%;
}
body{
  font-family: 'Museo', sans-serif;
  font-weight: 200;
  height: 100%;
  overflow: auto;
  margin: 0;
}


.header{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
#hideNav{
 margin-left: 5%;
 flex-basis: 100%;
 margin-top: 5px;
}
.close div{height: 0;
  overflow: hidden;
  transition: .3s;
}
.open div{
  height: 100%;
  transition: .3s;
}



.hideNav button{
  margin-bottom: 10px;
}
@media only screen and (min-width:360px){
  #hideNav{margin-left: 18%;}
}

.logo{
  width: 50%;
  cursor: pointer;
}
#hamburgerBtn{
  font-size: x-large;
  font-weight: bold;
  align-self: center;
}
button{
  padding: 12px 15px;
  font-size: 14.8px;
  color: white;
  border: none;
  margin-right: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.5;
}
button:hover{
  transform: scale(1.02);
  box-shadow: 1px 0px 30px 0px rgb(0, 0, 0, 0.3);
}
.green{
  background-image: linear-gradient(rgb(49, 177, 23) 50%, rgb(20, 83, 8) 50%)
}
.red{
  background-image: linear-gradient(rgb(214, 28, 28) 50%, rgb(184, 25, 25) 50%)
}
.section2, .section3{
  padding: 50px 40px;
}
.section1{
  background-image: url("./images/doodle-kitchen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 30px 10px 30px;
  position: relative;
 transition: all 0.3;
}

.pop{
  width: 50%;
  margin-top: 2em;
  left: 25%;
  position: absolute;
  opacity: 0;
}
.pot{
  width: 70%;
  margin-top: 8em;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}
.section1 span{
  position: absolute;
}

.fruit{
  opacity: 0;
}
.onion{
  top: 65%;
  left: 15%;
  width: 20%;
}
.pepper1{
  top: 40%;
  left: 3%;
  width: 20%;
}
.tt{
  top: 90%;
  right: 10%;
  width: 20%;
}
.pepper{
  top: 99%;
  left: 10%;
  width: 15%;
}
.tomato{
  top: 50%;
  right: 2%;
  width: 15%;
}
.donot{
  top: 110%;
  right: 0%;
  width: 20%;
}
.onion1{
  top: 155%;
  left: 5%;
  width: 15%;
}
.donot1{
  top: 150%;
  right: 0%;
  width: 25%;
}

.section2{
  background-image: url("./images/images.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  padding-top: 20%;
  overflow: hidden;
}
.section2 p{
  overflow: hidden;
}

.section3{
  background-image: url("./images/black.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  height: 60vh;
  display: flex;
  align-items: center;
}
.section3::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: black;
  opacity: 0.6;
}
.section3>div{
  display: flex;
  flex-direction: column;
}
.section3 button{
  width: 67%;
  margin-bottom: 20px;
}

.section4{
  background-image: url("./images/image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 20px 0 20px;
  overflow: hidden;
}
.section4 p{
  margin: 20px;
}
.section4 button{
  margin: 20px;
  padding: 12px 30px;
}
.man{
  margin-bottom: -4px;
}

.section5{
  background-image: url("./images/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
  padding: 50px 20px;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.section5::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: black;
  opacity: 0.6;
}
.section5 p{
  margin-bottom: 15%;
  padding-left: 20px;
}
.arrow{
  position: absolute;
  right: 3em;
  top: 5em;
}
.video{
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
.video iframe{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

footer{
  overflow: hidden;
  padding: 6em 3em;
}
footer ul{
  padding-left: 0;
  list-style: none;
}
footer li{
  margin-bottom: 2em;
  font-size: smaller;
  color: rgb(15, 15, 15, .6);
}
footer h4{
  color: rgba(187, 36, 36, 0.767);
  margin-bottom: 3em;
}
.arr{
  color: rgba(187, 36, 36, 0.767);
  font-size: 18px;
}
footer a{
  text-decoration: none;
  color: rgb(15, 15, 15, .6);
}